<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Convert Case</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="popup.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
  <style>
    body {
      padding: 0;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #e0e0e0;
    }
    .text-center {
      text-align: center;
    }
    .text-small {
      font-size: 11px;
    }
  </style>
</head>
<body >
  <div id="app">

  </div>
  <footer>
    <p class="text-center text-small">Created by BOUKRAA Mohamed (BM2iLABS)</p>
  </footer>
  <script src="popup.js"></script>
</body>
</html>
